<h1>Edit Collection</h1>
<%= form_with(model: @collection, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, value: @collection.name %>
  </div>
  <div>
    <%= form.submit "Update Collection" %>
  </div>
<% end %>
