<h1>Collections</h1>
<ul>
  <% @collections.each do |collection| %>
    <% if collection.user_id == current_user.id%>
      <li><%= collection.name %></li>
    <%= link_to 'Open Collection', collection_path(collection) %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'New Collection', new_collection_path %>