<h1>Collections</h1>
<ul>
  <% @collections.each do |collection| %>
    <li><%= collection.name %></li>
    <% collection.flashcard_sets.each do |set| %>
      <ul>
        <li><%= set.name %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
