<h1>Update Daily Flashcard Set Limit</h1>

<%= form_with model: @setting, url: admin_settings_path, method: :patch, local: true do |f| %>
  <div class="form-group">
    <%= f.label :daily_set_limit, "Daily Flashcard Set Limit" %>
    <%= f.number_field :daily_set_limit, class: "form-control" %>
  </div>

  <%= f.submit "Update Limit", class: "btn btn-primary" %>
<% end %>
