<h1>Flashcard Sets</h1>
<% @flashcard_sets.each do |flashcard_set| %>
    <div>
      <h2><%= link_to flashcard_set.name, flashcard_set_path(flashcard_set) %></h2>
    </div>
    <div>
      <%= link_to 'Edit', edit_flashcard_set_path(flashcard_set) %> |
      <%= button_to 'Delete', flashcard_set_path(flashcard_set), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>

<%= link_to 'Show collections', collections_path%>
