<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- Page Title -->
      <h1 class="text-center mb-4">Flashcard Sets</h1>
      
      <!-- Flashcard Sets List -->
      <% @flashcard_sets.each do |flashcard_set| %>
        <div class="card mb-3">
          <div class="card-body">
            <!-- Flashcard Set Title -->
            <h5 class="card-title">
              <%= link_to flashcard_set.name, flashcard_set_path(flashcard_set), class: 'text-decoration-none' %>
            </h5>
            
            <!-- Action Buttons -->
            <div>
              <%= link_to 'Edit', edit_flashcard_set_path(flashcard_set), class: 'btn btn-warning btn-sm' %>
              <%= button_to 'Delete', flashcard_set_path(flashcard_set), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
      
      <!-- Navigation -->
      <div class="text-center mt-4">
        <%= link_to 'Show Collections', collections_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
